html {
    height: 100%;
}
body {
    min-height: 100%;
    padding-bottom: 72px;
}
.navbar-brand {
    margin-left: 2rem;
}
.scheduled-calls-link {
    right: 2rem;
    cursor: pointer;
}
.scheduled-calls-badge {
    top: -7.5px;
    left: -12.5px;
}
.hidden {
    display: none;
}
.info-container {
    max-width: 485px;
}
.status-line {
    padding: 0 0.75rem;
}
.phone-table, #listContainer {
    margin: auto auto 0;
    max-height: 47.35vh !important;
    scrollbar-width: thin;
}
.phone-table .number-row {
    cursor: pointer;
}
.phone-table thead td {
    border-color: #dee2e6 !important;
}
.phone-table thead #titleCell {
    font-weight: bold;
}
.phone-table tbody td {
    width: 50%;
}
footer {
    height: 72px;
    background-color: #f8f9fa;
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        border-top: 0 !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60% !important;
    }
    .status-line {
        padding: 0;
    }
}