html {
    height: 100%;
}
body {
    min-height: 100%;
    padding-bottom: 72px;
}
footer {
    height: 72px;
    background-color: #f8f9fa;
}
#listDescription {
    resize: none;
    height: 125px;
}
.hidden {
    display: none;
}
.phone-table {
    margin-bottom: 0;
}
.phone-table thead td {
    border-color: #dee2e6 !important;
}
.phone-table thead .title-cell {
    background-color: #ECECEC;
}
.phone-table tbody td {
    width: 50%;
}