.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-list__item {
    width: 100%;
}

.card-list--grid .card-list__item {
    max-width: initial;
    margin: initial;
}

@media only screen and (min-width: 765px) {
    .card-list__item {
        width: calc(50% - 0.5rem);
    }    
}

@media only screen and (min-width: 1024px) {
    .card-list__item {
        width: calc(33% - 0.67rem);
    }    
}